*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color:#ffffb3;
    overflow-x: hidden;
  }
  h1{
    text-align: center;
    color:#2aa22a;
    font-family: arial, sans-serif;
    padding: 10px;
  }
  
  
  
  ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #67ff7c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    width:20%;
  }
  
  li a {
    display: block;
    color: #005a06;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #005a06;
    color: aliceblue;
  }
  
  .active {
    background-color: #2aa22a;
    color: white;
  }
  li:last-child {
      margin-right: 100px;
  }
  li:first-child {
      margin-left: 100px;
  }
  
  .ukupno{
    display: block;
    height: 510px;
  }
  .naslov{
    float: left;
    width: 135px;
    margin-left: 300px;
    height: 50px;
    font-size: 40px;
    color: #2aa22a;
    text-shadow: 0 0 10px #3c3c5d;
    padding-top: 70px;
  }
  .slajder{
    float: left;
    display: block;
    width: 500px;
    padding-top: 50px;
  }
  img{
    margin-top: 50px;
    width: 250px;
    height: 350px;
    
  }
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .active {
    background-color: #2aa22a;
  }
  
  .tekst{
    margin-top: 50px;
    width: 250px;
    height: 350px;
    text-align: center;
    float: right;
    background-color:#b3ffb3;
  }
  .naslovslike{
    color: #2aa22a;
    text-shadow: 0 0 10px #3c3c5d;
    text-align: center;
    padding: 10px;
  }
  .godina{
    text-align: center;
    font-size: 30px;
    color: gray;
    padding: 10px;
  }
  
  footer{
    position: fixed;
    background-color:  #2aa22a;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffb3;
    text-align: center;
    padding: 10px;
  }
  .futer{
    background-color:  #2aa22a;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffb3;
    text-align: center;
    padding: 10px;
  }
  p{
    margin:0;
    padding: 10px;
  }